apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  namespace: argocd
  name: authentication
spec: 
  project: default
  source:
    repoURL: https://github.com/oscar-andress/authentication-jwt.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: authentication
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    
